<div class="login">
    <section class="contact" id="login">
        <div class="row">
            <form action="">
                <input type="email" class="box" placeholder="email">
                <input type="password" class="box" placeholder="password">
                <input type="submit" value="login" class="btn">
            </form>
        </div>
    </section>
</div>